<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background: white;
    font-family: 'Ubuntu', sans-serif;
}

.content {
    padding-top: 0;
}

header {
    border-bottom: 2px black solid;
    margin: 0 15px;
    position: fixed;
    align-items: center;
    margin: 0 15px;
}

section {
    border-bottom: 2px black solid;
    margin: 0 15px 0 15px;
}

#header {
    display: flex;
}

#header-img {
    flex: auto;
    height: 80px;
    padding: 0 50px;
}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 25px 40px;
}

.nav-link:hover {
    background-color: pink;
    border: 1px pink solid;
    color: white;
}

.form-class {
    padding-left: 140px;
}

.mail {
    padding: 0 20px;
    cursor: default;
}

#email,
#submit {
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 0.5rem;
}

#submit:hover {
    color: white;
    background: pink;
}

.photo {
    float: left;
    padding-top: 0;
}

.line {
    height: 90px;
}

#photo-ab {
    width: 600px;
    border: 2px pink solid;
    border-radius: 30px;
}
=======

>>>>>>> ca4aa2ed2dc0fd98a898d2b9380464525de91996
