* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background: white;
    font-family: 'Ubuntu', sans-serif;
    color: palevioletred;
}

.content {
    padding-top: 0;
}

header {
    border-bottom: 2px palevioletred solid;
    margin: 0 5px;
    position: fixed;
    align-items: center;
}

section {
    border-bottom: 2px palevioletred solid;
    margin: 0 15px 0 15px;
    display: inline-block;
}

#header {
    display: flex;
}

#header-img {
    flex: auto;
    height: 80px;
    padding: 0 50px;
}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
    color: palevioletred;
    font-size: 20px;
    padding: 25px 40px;
}

.nav-link:hover {
    background-color: palevioletred;
    border: 1px palevioletred solid;
    color: white;
}

.form-class {
    padding-left: 140px;
}

.mail {
    padding: 0 20px;
    cursor: default;
}

#email,
#submit {
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 0.5rem;
    border: 1px palevioletred solid;
}

#submit:hover {
    color: white;
    background: palevioletred;
}

.photo {
    float: left;
    padding-top: 0;
    padding-bottom: 15px;
    /* border: 1px black solid; */
}

.line {
    height: 90px;
}

#photo-ab {
    width: 500px;
    border: 2px palevioletred solid;
    border-radius: 30px;
}

.desc {
    padding-top: 150px;
    text-align: justify;
    margin-left: 550px;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.video {
    flex: auto;
    padding: 15px;
}

#recipe {
    display: flex;
}

.nvideo {
    margin: 5px;
    text-align: center;
    border: 2px palevioletred solid;
    border-radius: 15px;
}

#video {
    margin-bottom: 15px;
    margin-top: 15px;
}

.teks {
    text-align: justify;
    margin: 0 25px 15px 25px;
}

#tips {
    display: flex;
}

.image {
    flex: auto;
    padding: 15px;
}

.nimage {
    margin: 5px;
    text-align: center;
    border: 2px palevioletred solid;
    border-radius: 15px;
}

#image {
    margin-bottom: 15px;
    margin-top: 15px;
}